body {
    font-family: 'Mukta', sans-serif;
}
/*nav bar*/
.navbar-default {
    background-color: #ffffff;
    /* border-color: #031C4E; debug */
    color: #031C4E;
    font-weight: 800;
}
.navbar-default .navbar-nav>li>a {
    color: #031C4E;
}
.navbar-nav {
    margin: 0 0;
}
.navbar-brand img {
    height: 100%;
}
#link-mid {
    margin-left: 0px; /*soluzine da rivedere*/
}
/* repeted in @media query to get hamburger icon styled */
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: 540px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #006AFF;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
/* repeted in @media query to get hamburger icon styled */
/* button nav-bar */
.btn {
    color: #006AFF !important;
    border: 1px solid #006AFF;
    padding: 8px 15px !important;
    margin-top: 7px;
}
/*jumbotron*/
#banner_home {
    height: 100%;
    padding: 48px 0;
    margin-top: 50px;
    background-image: url('../img/bg-banner-home.jpg');
    background-position: center;
    background-size: cover;
}
/* small form */
.small_form {      
    /* height: 375px; debug*/
    border-radius: 5px;
    padding: 4px 16px 24px;
    background-color: #ffffff;
    color: #031C4E;
}
.small_form h2 {
    font-weight: 700;
    line-height: 150%;
}
.small_form img {
    height: 16px;
    float: left;
}
.btn_form {
    width: 100%;
    font-weight: 700;
    border: 0;
}
.btn_account {
    background-color: #006AFF;
    color: #ffffff !important;
}
.btn_google {
    margin: 16px 0;
    color: #636363;
    box-shadow: 1px 1px 2px gray;
}
.lgt_blue {
    color: #006AFF;
}
.term {
    text-decoration: underline;
}

#heading_jumbo {
    color: #ffffff;
}
#heading_jumbo h1{
    font-size: 40px;
}
#heading_jumbo p {
    font-size: 20px;
}




/* Small devices (tablets, 768px and up) */ 
@media screen and (min-width:768px) {
    
} 

/* Medium devices (desktops, 992px or less) */
@media screen and (min-width:769px) and (max-width:992px) {
    /*copy-paste*/
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
    /*copy-paste*/
    /* my_edit */
    
    .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
        max-height: 540px;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #006AFF;
    }
    .navbar-default .navbar-toggle {
        border-color: transparent;
    }
    #heading_jumbo h1{
        font-size: 40px;
        line-height: 150%;
    }
    #heading_jumbo p {
        font-size: 21px;
        line-height: 150%;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width:993px)  {

    #heading_jumbo h1{
        font-size: 55px;
    }
    #heading_jumbo p {
        font-size: 21px;
        line-height: 150%;
    }
    #link-mid {
        margin-left: 80px; /*soluzine da rivedere*/
    }
    
}