body {
    font-family: 'Mukta', sans-serif;
}
/*nav bar*/
.navbar-default {
    background-color: #ffffff;
    /* border-color: #031C4E; debug */
    color: #031C4E;
    font-weight: 800;
}
.navbar-default .navbar-nav>li>a {
    color: #031C4E;
}
.navbar-nav {
    margin: 0 0;
}
.navbar-brand img {
    height: 100%;
}
#link-mid {
    margin-left: 0; /*soluzine da rivedere*/
}
/* repeted in @media query to get hamburger icon styled */
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: 540px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #006AFF;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
/* button nav-bar */
.btn {
    color: #006AFF !important;
    border: 1px solid #006AFF;
    padding: 8px 15px !important;
    margin-top: 7px;
}
/*jumbotron*/
#banner_home {
    height: 100%;
    padding: 48px 0;
    margin-top: 50px;
    background-image: url('../img/bg-banner-home.jpg');
    background-position: center;
    background-size: cover;
}
/* small form */
.small_form {      
    /* height: 375px; debug*/
    border-radius: 5px;
    padding: 4px 16px 24px;
    background-color: #ffffff;
    color: #031C4E;
}
.small_form h4 {
    font-size: 30px;
    font-weight: 700;
    line-height: 150%;
}
.small_form img {
    height: 16px;
    float: left;
}
.btn_form {
    width: 100%;
    font-weight: 700;
    border: 0;
}
.btn_account {
    background-color: #006AFF;
    color: #ffffff !important;
}
.btn_google {
    margin: 16px 0;
    color: #636363;
    box-shadow: 1px 1px 2px gray;
}
.lgt_blue {
    font-weight: 700;
    color: #006AFF;
}
.term {
    text-decoration: underline;
}
/*title jumbotron*/
#heading_jumbo {
    color: #ffffff;
}
#heading_jumbo h1{
    font-size: 40px;
}
#heading_jumbo p {
    font-size: 20px;
}
/*logos area*/
.logo {
    background-color: #F3F5F9;
}
.logo h3 {
    font-size: 15px;
    letter-spacing: 1%;
    padding: 24px 0;
    text-transform: uppercase;
    color: #6F7B97;
}
.logo .container .row a {
    display: block;
    padding: 32px 0;
}

/*MAIN*/

/* Deploy area */
.deploy h2 {
    padding-top: 24px;
    color: #031C4E;
    font-size: 35px;
    font-weight: 600;
}
p.subhead {
    color: #62708D;
    font-size: 19px;
}
/* deploy list */
.deploy_list {
    margin-top: 40px;
    list-style: none;
    border-left: 1px solid #79849D;
    /* margin-left: -40px; */
}
.deploy_list p {
    font-size: 18px;
    color: #79849D;
}
/* dep four content */
.dep_four_content {
    margin-top: 40px;
}
.dep_four_item {
    min-height: 200px;
}
.dep_four_item h5{
    font-size: 18px;
    font-weight: 700;
    color: #031C4E;
}
.dep_four_item p{
    font-size: 14px;
    color: #79849D;
}

/* designers */
.designer {
    background-color: #F3F5F9;
    padding: 48px 0;
}
.designer h2 {
    padding: 24px 0;
    color: #031C4E;
    font-size: 35px;
    font-weight: 600;
}
.designer img {
    height: 200px;
    margin-bottom: 16px;
}
.designer p {
    padding-bottom: 80px;
    color: #031C4E;
    font-weight: 700;
}
.designer figcaption {
    color: #031C4E;
    font-weight: 700;
    padding-bottom: 80px;
}
.dot {
    display: inline-block;
    height: 12px;
    width: 12px;
    border: 1px solid #006AFF;
    border-radius: 50%;;
}
.dot_full {
    background-color: #006AFF;
}
/* chevron */
.my_chevron {
    display: none;
}
/*FEATURE BUSINESS AREA*/
.feature_business {
    padding: 32px 0;
}
.feature_business h2 {
    text-align: center;
    margin-bottom: 24px;
    color: #031C4E;
    font-size: 35px;
    font-weight: 600;
}
.feature_business h5 {
    font-size: 18px;
    font-weight: 700;
    color: #031C4E;
}
.feature_business p{
    font-size: 14px;
    font-weight: 600;
    color: #79849D;
}
.business_item {
    margin: 24px 0;
}
/* SERVICE TABLE AREA */
.service_table {
    /*height: 800px;  debug */
    padding: 42px;
    background: linear-gradient(#0045C3, #001157);
}
.service_table h2 {
    color: #ffffff;
    font-size: 27px;
    font-weight: 600;
}
.line_table {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    margin-top: 16px;
}
.line_table p {
    display: inline-block;
}
.line_table p:first-child {
    text-transform: uppercase;
    margin-right: 5%; 
}
.line_table p:last-child {
    float: right;
}
.line_table:last-child {
    border-bottom: 0;
}
.second_table {
    margin-top: 48px;
}



/* Small devices (tablets, 768px and up) */ 
@media screen and (min-width:768px) {
    
} 

/* Medium devices (desktops, 992px or less) */
@media screen and (min-width:769px) and (max-width:992px) {
    /*copy-paste*/
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
    /*copy-paste*/
    /* my_edit */
    .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
        max-height: 540px;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #006AFF;
    }
    .navbar-default .navbar-toggle {
        border-color: transparent;
    }
    #heading_jumbo h1{
        font-size: 40px;
        line-height: 150%;
    }
    #heading_jumbo p {
        font-size: 21px;
        line-height: 150%;
    }
    /*logo area heading*/
    .logo h3 {
        font-size: 17px;
        /* letter-spacing: 1% !important; non funziona */
    }
    /*MAIN*/

    /* Deploy area */
    .deploy h2 {
        font-size: 41px;
    }
    .deploy p.subhead {
        font-size: 23px;
    }
    .dep_four_item h5{
        font-size: 20px;
    }
    .dep_four_item p{
        font-size: 17px;
    }
    /*designer area*/
    .designer h2 {
        font-size: 41px;
    }
    .designer img {
        height: 300px;
    }
    .designer p {
        font-size: 23px;
    }
    /* chevron */
    .my_chevron {
        display: inline-block;
        font-size: 32px;
    }
    .chev_lft {
        color:  #79849D;
        margin-right: 16px;
    }
    .chev_rgt {
        color: #031C4E;
        margin-left: 16px;
    }
    /*FEATURE BUSINESS AREA*/
    .feature_business h2 {
        font-size: 41px;
    }
    .feature_business h5 {
        font-size: 20px;
    }
    .feature_business p{
        font-size: 16px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width:993px)  {

    #heading_jumbo h1{
        font-size: 55px;
    }
    #heading_jumbo p {
        font-size: 21px;
        line-height: 150%;
    }
    #link-mid {
        margin-left: 80px; /*soluzine da rivedere*/
    }
     /*logo area heading*/
     .logo h3 {
        font-size: 15px;
        /* letter-spacing: 2% !important; non funziona */   
    }
    /*MAIN*/

    /* Deploy area */
    .deploy h2 {
        font-size: 35px;
    }
    .deploy p.subhead {
        font-size: 23px;
    }
    .dep_four_item h5{
        font-size: 20px;
    }
    .dep_four_item p{
        font-size: 17px;
        color: #79849D;
    }
    /*designer area*/
    .designer h2 {
        padding: 0;
        font-size: 35px;
    }
    .designer img {
        height: 350px;
    }
    .designer p {
        padding: 16px;
        font-size: 16px;
    }
    /* chevron */
    .my_chevron {
        display: inline-block;
        font-size: 36px;
    }
    .chev_lft {
        color:  #79849D;
        margin-right: 16px;
    }
    .chev_rgt {
        color: #031C4E;
        margin-left: 16px;
    }
    .designer figcaption {
        padding-bottom: 8px;
    }
    /*FEATURE BUSINESS AREA*/
    .feature_business h2 {
        font-size: 35px;
    }
    .feature_business h5 {
        font-size: 20px;
    }
    .feature_business p{
        font-size: 16px;
    }
    /* SERVICE TABLE AREA */
    .second_table {
    margin-top: 16px;
}
}